/* App.css */
.App {
  display: flex; /* 横並びにするためにFlexboxを使用 */
  min-height: 100vh; /* 画面の高さを最低限確保 */
  text-align: center;
}

.navbar {
  width: 300px; /* ナビゲーションバーの幅を固定 */
  background-color: white;
  height: 100vh; /* ナビゲーションが画面の高さ全体をカバー */
  border: 2px solid silver;
  box-sizing: border-box; /* パディングやボーダーも含めて計算 */
}

.navbar ul {
  list-style-type: none;
  padding: 0;
}

.navbar ul img.logo {
  width: 250px; /* アイコンの幅 */
  height: auto; /* 縦横比を維持 */
  padding-bottom: 40px;
}

.navbar ul li img.nav-icon {
  width: 40px; /* アイコンの幅 */
  height: auto; /* 縦横比を維持 */
  margin-right: 20px; /* アイコンとテキストの間に余白を追加 */
  margin-left: 10px;
}

.navbar ul li {
  margin: 20px 0;
  display: flex;
  align-items: center;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  font-size: 30px;
  color: black;
}

.navbar ul li a:hover {
  color: #a09f9b;
}

.content {
  flex-grow: 1; /* 残りのスペースをすべて使用 */
  overflow-y: auto; /* 縦スクロールを許可 */
  height: 100vh; /* コンテンツが画面の高さ全体をカバー */
}

.bar {
  background-color: black;
  width: 100%;
  height: 60px;
  color: white;
  font-size: 30px;
  text-align: left; /* 左揃え */
  padding-top: 15px; /* 上に10pxの余白 */
  padding-left: 15px;
}

h2 {
  text-align: left;
  padding-left: 15px;
}

.radio-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* 子要素を左揃え */
}

.radio-label {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.dropdown-container {
  display: flex;
  flex-direction: column;
  width: 150px;
}

.dropdown-label {
  margin-bottom: 5px;
  font-size: 14px;
}

.dropdown {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 8px;
  appearance: none;
  background-color: #f9f9f9;
}

.dropdown:focus {
  border-color: #666;
  outline: none;
}

.grayed-out {
  color: gray; /* 無効化されているように見える */
  opacity: 0.6; /* 透明度を少し下げて無効化のように見せる */
}

hr {
  border: 1px solid rgb(225, 225, 225); /* 2ピクセルの黒い線を引く */
  width: 97%;
}

.custom-button {
  width: 100px;
  height: 40px;
  border-radius: 5px;
  font-size: 15px;
  background-color: black;
  color: white;
}

.csv-button {
  width: 150px;
  height: 30px;
  border-radius: 5px;
  font-size: 15px;
  background-color: black;
  color: white;
}

.map-container {
  flex-grow: 1; /* マップコンテナが残りのスペースをすべて使用 */
  height: 100%; /* コンテナが親要素に合わせて100%の高さを取る */
  width: 100%; /* コンテナが横幅全体を使用 */
  min-height: 400px; /* マップの最低高さを設定して表示が切れないようにする */
}

/*　NotificationForm */
.container {
  display: flex; /* Flexboxで横並びに配置 */
  justify-content: space-between; /* 両端に配置 */
  align-items: flex-start; /* 縦の位置を揃える */
}

.search-conditions {
  width: 35%; /* 右側の検索条件エリア */
  border-radius: 10px;
  text-align: left;
  margin-left: 30px;
}

.search-conditions h2 {
  margin-bottom: 20px;
}

.search-conditions p {
  margin: 10px 0;
  margin-left: 30px;
}
.search-conditions button {
  margin-left: 320px;
  margin-top: 100px;
}

.approve-button {
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.approve-button:hover {
  background-color: #333;
}

.toggle-label {
  align-items: center;
  font-size: 16px;
}

.switch {
  position: relative;
  width: 40px;
  height: 24px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 24px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

.switch-input:checked + .slider {
  background-color: #2196f3;
}

.switch-input:checked + .slider:before {
  transform: translateX(16px);
}

.form-label {
  width: 60%; /* 左側のフォームエリア */
}

.label-container {
  display: flex;
  margin-left: 30px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.label-container-link {
  /* display: flex; */
  margin-left: 30px;
  margin-bottom: 20px;
  text-align: left;
}

.label-container-link input {
  text-align: left;
  width: 61%;
}

.label-container input,
.label-container textarea,
.search-conditions input,
.search-conditions textarea {
  flex-grow: 1;
  max-width: 500px;
}

.label-link2 {
  margin-top: 1px;
  margin-left: 79px;
}

.push-message-textarea {
  margin-left: 16px;
}

.image-upload-label {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 50px;
  cursor: pointer;
}

.file-input {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0; /* inputを非表示にする */
  cursor: pointer;
}

.image-upload {
  width: 60px;
  height: 50px;
  object-fit: cover; /* 画像が枠内にフィットするように設定 */
  border: 1px solid #ccc;
}

/* NotificationManagement */
.search-form-container {
  padding: 20px;
}

h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.status-container {
  margin-left: 50px;
  margin-bottom: 20px;
  display: flex;
  gap: 30px;
}

.status-options {
  margin-left: 20px;
  display: flex;
  align-items: center; /* ラジオボタンを縦方向に中央揃え */
  gap: 30px; /* 各ラジオボタン間に間隔を空ける */
}

.status-options label {
  display: flex;
  align-items: center; /* ラジオボタンとテキストを縦方向に中央揃え */
  gap: 5px; /* ラジオボタンとテキストの間に少し間隔を空ける */
}

.date-picker-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-button {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

.search-button:hover {
  background-color: #333;
}

/* SearchResults.js */
.search-results {
  padding: 20px;
}

h2 {
  font-size: 18px;
  margin-bottom: 15px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f4f4f4;
  font-weight: bold;
}

td {
  vertical-align: middle;
}

.status {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  font-weight: bold;
}

tr:hover {
  background-color: #f9f9f9;
}

/* NotificationDetail */
.action-buttons-container {
  /* display: flex; */
  /* justify-content: center; */
  text-align: left;
  margin-left: 40px;
  margin-top: 20px;
  gap: 50px;
}

.action-button {
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.action-button:hover {
  background-color: #333;
}
